extends layout

block content
    h1= title
    form(action="/folket" method="POST")
        .form-group
            label(for="people") Folket i Ord&Bild
            textarea.form-control(name="people" id="people" rows="20" placeholder="Ett namn per rad") #{people}
        .row
            .col-xs-6
                .form-group
                    label(for="week_start") Startvecka
                    input.form-control(type="number" name="week_start" id="week_start" value=current_week)
            .col-xs-6
                .form-group
                    label(for="week_end") Slutvecka
                    input.form-control(type="number" name="week_end" id="week_end")
        input.btn.btn-default(type="submit" value="Schemalägg")